* {
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 5vh;
    float: left;
}

main{
    width: 100%;
    height: 90vh;
    text-align: center;
    float: left;
}

.est{
    margin-top: 80px;
    position: relative;
    color: white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.para{
    text-align: justify center;
    font-size: medium;
    margin-top: 14px;
    position: relative;
    color: white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bo{
    width: auto;
    height: 5%;
    margin-top: 25px;
    color: white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
     }
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
  }