*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main{
   background-size: cover;
  background-blend-mode: lighten; 
  background-image: url("https://i.pinimg.com/originals/6d/c1/17/6dc11726798611a9e2fa758a02188bf9.gif"); 
background: url("https://i.pinimg.com/originals/6d/c1/17/6dc11726798611a9e2fa758a02188bf9.gif"),linear-gradient(90deg, rgba(2, 64, 78, 0.575) 1%, rgba(3, 3, 73, 0.452) 34%, transparent 100%);
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppis';
    position:relative;
    display: inline-block;
    background-size: initial;
    background-attachment: fixed;
    font-family:'Poppins';
}
.exosfera{
    justify-content: center;
    float: left;
    margin: 40px 900px 0px 40px;
    text-align: justify;
    line-height: 30px;
    position: absolute;
}

h1{
    margin-bottom: 20px;
    
}
.s{
    width: 50vw;
    height: 50vh;
    float: right;
    margin-right: 200px;
}
.sat1{
    width: 50vw;
    height: 50vh;
    float: right;
    margin-left: 10px;
    margin-top: 13%;
    position: absolute;
}

.next{
     float: right;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
   
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: .5s;
   position: absolute; 
}
 
.next:hover{
    background-color: black;
    color: white;
}
.bota{
    float: right;
    margin-top: 560px;
    margin-right: 0px;

}