*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
 
main{
    background-color: #5181e7;
    background-image: linear-gradient(to right, #2e66df, #0a389b, #032770);
    font-family: 'Poppins';
    background-color: rgba(68, 218, 255, 0.5);
    background-blend-mode: lighten;
    background-image: url(meteoros.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
 
h1{
    color: rgb(0, 11, 110);
    text-align: center;
    margin: 30px;
    margin-top: 65px;
    margin-right: 100px;
    text-align: center;
}

.p{
    text-align: center;
    justify-content: center;
    margin: 20px 100px 20px 100px;
    color: white;
    font-size: large;
    line-height: 30px;
}
 
.next{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    float: right;
    margin-right: 90px;
    margin-top: 300px;
    
}
 
.next:hover{
    background-color: black;
    color: white;
}: 90px;
