*{
    margin: 0;
    padding: 0;
}
 
.satelit1{
    width: 50vw;
    height: 40vh;
    float: right;
    margin-top: 0;
    margin-right: 0;
    display: flex;
    margin-bottom: 0;
}
 
#grad1{
    height: 100vw;
    background-color: #0137a3; /* for browsers that do not support gradientes*/
    background-image: linear-gradient( #0137a3,#1659e6);
}
 